<nav class="navbar navbar-expand-sm bg-primary-alt-1">
    <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-black"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav d-flex flex-row w-100 justify-content-end">
    <li class="nav-item">
        <NavLink class="nav-link text-white btn-orange-alt-2 rounded-5-px mb-1 mb-sm-0 me-sm-3 text-center" href="/" Match="NavLinkMatch.All">
            <i class="fa-solid fa-house"></i> Home
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-white btn-orange-alt-2 rounded-5-px mb-1 mb-sm-0 me-sm-3 text-center" href="/ExercisePage" Match="NavLinkMatch.All">
            <i class="fa-solid fa-calendar"></i> Exercises
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-white btn-orange-alt-2 rounded-5-px mb-1 mb-sm-0 me-sm-3 text-center" href="/CreateExercise" Match="NavLinkMatch.All">
            <i class="fa-solid fa-briefcase"></i> Create Exercises
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-white btn-orange-alt-2 rounded-5-px mb-1 mb-sm-0 me-sm-3 text-center" href="/NewRoutine" Match="NavLinkMatch.All">
            <i class="fa-solid fa-building"></i> Routines
        </NavLink>
    </li>
        <li class="nav-item">
            <NavLink class="nav-link text-white btn-orange-alt-2 rounded-5-px mb-1 mb-sm-0 me-sm-3 text-center" href="/LogWorkout" Match="NavLinkMatch.All">
                <i class="fa-solid fa-building"></i> Log Workout
            </NavLink>
        </li>
             </ul>
         </div>
    </div>
</nav>